
# Note: Rename this example.env file to .env
# and run python railway_deploy.py

# Get it from https://railway.com/account/tokens
RAILWAY_TOKEN=YOUR_RAILWAY_TOKEN

# Use a unique name for your project
RAILWAY_PROJECT_NAME=Live Stream

# Use it for high quality streaming
RAILWAY_DOCKER_IMAGE=imvickykumar999/stream-downloader

# Use it for efficient streaming
# RAILWAY_DOCKER_IMAGE=imvickykumar999/youtube-stream

# Get it from https://studio.youtube.com/channel/UC/livestreaming
STREAM_KEY=YOUR_STREAM_KEY

# For example, if you want to stream https://www.youtube.com/watch?v=4UTdZpN26Bs
# this video in loop, then YouTube_ID will be 4UTdZpN26Bs
YouTube_ID=4UTdZpN26Bs
